


.footer{
    border-top: 1px solid hsla(0,0%,76.9%,.25);
    margin-top: 5rem;
    padding: 2rem 0;
}

.footer .footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .footer-wrapper .logo{
    color: var(--color-gray);
    opacity: .6;
    font-family: 'd-din', sans-serif;
}

.footer .footer-wrapper .logo span{
    color: var(--color-white);
    opacity: 1 !important;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-decoration: underline; */
}

.footer .footer-wrapper .icons{
    display: flex;
    column-gap: .7rem;
}
.footer .footer-wrapper .icons ion-icon{
    color: var(--color-gray);
}